#website_body
{
    background-image: url("./legobase-repeating.png");
    background-repeat:repeat;
    padding:0;
    margin: 0;
}
#website_header
{
    background-color: rgb(255, 207, 0);
    height: 20vh;
    box-shadow: black;
    width:100%;
    border: none;
}

input[type=text] {
    width: 40vw;
    padding: 12px 20px;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 14px;
    background-color: white;
    color: black;
}

input[type=text]:focus {
    background-color: rgb(241, 241, 241);
    border: 3px solid cyan;
}

#lego_img
{
    height: 16vh;
    margin-left: 2vh;
}

#lego_gubbe_img
{
    height: 16vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

#header_column
{   
    text-align: center;
}

#right_header_column
{
    text-align: right;
    margin: 0;
    padding: 0;
}

#sets_table {
    margin: auto;
    margin-top: 2vw;
    background-color: red;
    border: solid rgb(255, 207, 0);
    table-layout: fixed;
    height: 40vh;
}

.sets_img {
    border: solid black;
    padding: 3vw;
}

.sets_info {
    border: solid black;
    width: 30vw;

}

/*https://www.w3schools.com/howto/howto_js_autocomplete.asp*/

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
    background-color: rgb(241, 241, 241);
}
  
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
